{% extends 'layout.html' %}

{% block content %}

<div class="col s16">
	<div class="row">
		<div class="col m16 s16 l16">
			<div class="box2">
				<div class="row box">
					<div class="col s16">
						<div class="title-bar">
							<span  xmlns:v="http://rdf.data-vocabulary.org/#">
								<span typeof="v:Breadcrumb" >
									<a rel="v:url" property="v:title" href="<?=ROOT?>" class="title-bar-text text-sky-dark" title="Trang chủ">Trang chủ <span class="fa fa-chevron-right"></span></a>
									<span rel="v:child" typeof="v:Breadcrumb">
										<a rel="v:url" property="v:title" href="/tac-gia/{{ author.slug }}" class="title-bar-text text-sky-dark" title="Truyện {{ author.title }}">Tác giả <span class="fa fa-chevron-right"></span></a>
										<span rel="v:child" typeof="v:Breadcrumb">
											<a rel="v:url" property="v:title" href="/tac-gia/{{ author.slug }}" class="title-bar-text text-orange" title="Truyện {{ author.title }}">{{ author.title }} </a>
										</span>
									</span>
								</span>
							</span>
							<a href="/tac-gia/{{ author.slug }}.html?sort=new" title="Mới nhất" class="option {% if author.attr.sort == "new" %} active {% endif %}"><span class="fa fa-file"></span> <span class="mobile">Mới nhất</span></a>
							<a href="/tac-gia/{{ author.slug }}.html?sort=top" title="Đọc nhiều nhất" class="option  {% if author.attr.sort == "top" %} active {% endif %}"><span class="fa fa-star"></span> <span class="mobile">Đọc nhiều</span></a>
						</div>
					</div>
					{% for manga in author_manga %}
						<div class="col x16 s16 m5 l5 item-verti">
							<div class="row">
								<div class="col m5 s5 x6">
									<div class="img"><a href="/truyen/{{ manga.slug }}.html" title="Truyện {{ manga.title }}"><img src="{{ manga.image.1x }}" alt="{{ manga.title }}"></a></div>
								</div>
								<div class="col m11 s11 x10">
									<div class="info">
										<div><a class="title" href="/truyen/{{ manga.slug }}.html" title="Truyện {{ manga.title }}">{{ manga.title }}</a> </div>
										<div>Tác giả: <a href="/tac-gia/{{ manga.author.slug }}.html" class="attr" title="Đọc truyện của {{ manga.author.title }}">{{ manga.author.title }}</a></div>
										<div>Thể loại: 
											{% for cat in manga.cat %}
												<a href="/the-loai/{{ cat.catSlug }}.html" class="attr" title="Đọc thể loại {{ cat.catTitle }}">{{ cat.catTitle }}</a>,
											{% endfor %}
										</div>
										<div>Chương mới nhất: <a href="/truyen/{{ manga.slug }}/chuong/{{ manga.chapterCurrent }}.html" class="attr" title="Đọc chương {{ manga.chapterCurrent }}" >{{ manga.chapterCurrent }}</a></div>
										<div>Lượt xem: <b class="view-count" class="attr">{{ manga.view }}</b></div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

					
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
